   
   /**************/
   /* eerste slider */
   /**************/
   main > section:nth-of-type(1) {
    background-color: var(--color-background);
    padding:0;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

  main section:nth-of-type(1) ul {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}
section:nth-of-type(1) ul.dragging {
    cursor: grabbing;
}
section:nth-of-type(1) ul li {
   /* Flexibele breedte met kleiner formaat */
    flex: 0 0 clamp(15em, 20vw, 25em);
    max-width: clamp(15em, 20vw, 25em);
    aspect-ratio: 3 / 3;
    scroll-snap-align: center;
    position: relative;
    overflow: hidden;
    cursor: grab;
}

section:nth-of-type(1) ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section:nth-of-type(1) ul li > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: clamp(1em, 2vw, 1.5em);
    color: var(--color-text);
    z-index: 2;
}
section ul li p,section ul li h3,section ul li div h2 {
    margin: 0;
    padding: 0;
    text-align: left;
}
section ul li h2 {
    font-size: clamp(1.2em, 2.5vw, 1.8em);
}
section ul li h3 {
    font-size: clamp(0.9em, 2vw, 1.2em);
    font-family: "M Ying Hei", sans-serif;
}
section ul li p {
    display: inline-block;
    margin-bottom: 0.5em;
    width: fit-content;
    background-color: black;
    padding: 0.4em 0.8em;
    border-radius: 1em;
    font-size: clamp(0.6em, 1vw, 0.9em);
   /* Kleiner formaat */
    font-family: "M Ying Hei", sans-serif;
}

div:nth-child(1) > p:nth-child(2),
div:nth-child(1) > p:nth-child(3){
display: flex;
background: none;
font-family: "M Ying Hei", sans-serif;
font-size: clamp(0.6em, 1vw, 0.9em);
}

em,time{
    font-style: normal;
    font-family: "M Ying Hei", sans-serif;
    font-weight: 900;
    color: var(--color-text);
    font-size: 1em;
}

section:nth-of-type(1) ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: 1;
}





li > div > div {
    color: var(--color-text);
    order: -1;
}

li > div > p:nth-of-type(1) {
  order: 2;
}

li > div > p:nth-of-type(2) {
    order: 3;
}


/* Vanaf 64em (grote schermen) */
@media (max-width: 64em) {
    section:nth-of-type(1) ul li {
       /* Flexibele breedte met kleiner formaat */
            flex: 0 0 clamp(65vw, 20vw, 25em);
            max-width: clamp(65vw, 20vw, 25em);
       }
   }
   /* Vanaf 64em (grote schermen) */
    @media (min-width: 64em) {
        section:nth-of-type(1) ul li {
           /* Grotere minimale en maximale breedte vanaf 64em */
            flex: 0 0 clamp(18em, 22vw, 28em);
            max-width: clamp(18em, 22vw, 28em);
       }
        section ul li h2 {
            font-size: clamp(1.4em, 3vw, 2em);
       }
   }


   /**************/
   /* Programma */
   /**************/
   /* Title */
    section:nth-of-type(2) > h2 {
        margin: 0;
        max-width: 100vw;
        overflow: hidden;
        font-size: clamp(2.8em, 26vw, 19em);
        text-decoration: none;
        color: var(--color-text);
   }
    section:nth-of-type(2) > ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        padding-bottom: 2em;
   }
    section:nth-of-type(2) > ul li {
        margin: 0;
   }

    section ul li {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        overflow: hidden;
   }
   
    section ul li button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        padding: 0.7em 1.2em;
        font-size: 1em;
        cursor: pointer;
        background-color: var(--button-normal);
        border: none;
        color: var(--color-text);
        font-family: "M Ying Hei", sans-serif;
        transition: background-color 0.3s ease;
        margin-left: 0.2em;
        flex-grow: 1;
        min-width: 0;
   }
    section ul li button:hover {
        background-color: var( --button-hover);
   }
    section:nth-child(3) > article {
        background: var( --color-background);
        display: flex-row;
   }
    section:nth-child(3) > article ul{
        width:100%;
        padding: 0;
   }
    section:nth-child(3) > article{
        padding:0 2em;
   }
    section:nth-child(3) > article > ul > li{
        display: flex;
   }
    section:nth-child(3) > article > ul > li > div:nth-child(2) {
        flex-grow: 1;
   }

   /* program Date */
    section:nth-child(3) > article > h2 {
        margin: 0;
        font-size: 1.5em;
        color: var(--color-text);
        padding: 0;
   }


   section:nth-child(3) > article ul h3 {
    font-size: 1em;
    font-family: "M Ying Hei", sans-serif;
    color: var(--color-text);
    font-weight: 900; 
    margin: 0; 
}

    section:nth-child(3) > article ul h4 {
        position: relative;
        font-size: 0.88em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: "M Ying Hei", sans-serif;
        color: var(--color-text);
        margin:0;
        cursor: pointer;
   }

    section:nth-child(3) > article ul li {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0.5em 0;
   }
    section:nth-child(3) > article ul li div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
   }
    section:nth-child(3) > article ul li:last-child {
        border-bottom: none;
   }

    section:nth-child(3) > article ul li div > time {
        font-size: 0.88em;
        font-weight: lighter;
        color: var(--color-text);
        margin-left: 1em;
   }
   
   /* <h4> onder <h3> en <time> */
   section:nth-child(3) > article ul li div:nth-child(2) h4 {
    color: var(--color-text);
    position: relative;
    font-size: 0.88em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "M Ying Hei", sans-serif;
    font-weight: normal; 
    margin: 0;
    cursor: pointer;
}

   /* Titel hell */
    @media (min-width: 63.75em) {
        h1 {
            font-size: clamp(2.8em, 21vw, 19em);
            text-align: center;
       }
        section:nth-of-type(2) > h2 {
            font-size: clamp(2.8em, 17vw, 15em);
            text-align: center;
       }
        section:nth-child(3) > article {
            background: var(--color-background);
            padding: 1em;
       }

        section:nth-child(3) > article ul li > div:first-child {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
       }

        section:nth-child(3) > article ul {
            list-style: none;
            padding: 0;
            margin: 0;
       }
        section:nth-child(3) > article ul li {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5em;
       }
        section:nth-child(3) > article ul li div > h3 {
            font-size: 1.5em;
            color: var(--color-text);
            margin: 0;
       }
        section:nth-child(3) > article ul li div > h4 {
            font-size: 1em;
            color: var(--color-text);
            margin: 0;
       }
        section:nth-child(3) > article ul li div > time {
            font-size: 1.2em;
            font-weight: bold;
            color: var(--color-text);
            margin-left: 1em;
       }
        section:nth-child(3) > article ul li div:nth-child(2) h4 {
            margin-top: 0.5em;
       }
        section:nth-child(3) > article ul li:last-child {
            border-bottom: 1px solid #ccc;
       }
   }

 
 
 
 
