/**************/
/* FONT FACE */
/**************/
@font-face {
  font-family: "Helvetica";
  src: url("fonts/neue-helvetica-75-bold.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "M Ying Hei";
  src: url("/fonts/M Ying Hei PRC W48 W3.ttf") format("truetype");
  font-weight: normal;  
  font-style: normal;
}

@font-face {
  font-family: "M Ying Hei";
  src: url("/fonts/M Ying Hei PRC W48 W3 Bold.ttf") format("truetype");
  font-weight: 900;  
  font-style: normal;
}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;
}
/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-text: #ffffff;
  --color-background: #DD3C30;
}
/**************/
/* BASE STYLES */
/**************/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
}
h1 {
  font-family: "Helvetica", sans-serif;
  font-weight: 900; /* Toepassen van de bold-variant */
}

img {
  max-width:100%;
}
a{
  text-decoration: none;
}



